body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #35D036;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.navbar ul li {
    list-style: none;
    font-family: "Passion One";
}

.navbar ul li a {
    text-decoration: underline 4px solid white;
    text-underline-offset: 20px;
    color: white;
    font-size: 30px;
}

.navbar img {
    height: 50px;
    position: absolute;
    left: 25px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    font-family: "Passion One";
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 300px;
    
    
}
.title img{
    height: 100px;
    transform: rotateZ(22deg);
}
.invert_recicle img{
    transform: rotateZ(-22deg);
}



.text{
    color: white;
    font-size: 25px;
    font-family: "Actor";
    margin: 0 100px 0 100px;
}






@media (max-width: 1024px) {
    .navbar ul {
        gap: 20px;
    }

    .navbar ul li a {
        font-size: 20px;
        text-underline-offset: 5px;
    }

    .navbar img {
        height: 30px;
        
    }
}






@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
       
    }

    .navbar ul {
        flex-direction: row;
        /* menu vertical */
        align-items: center;
        gap: 10px;
    }

    .navbar ul li a {
        font-size: 10px;
        text-decoration: underline 2px solid white;
        text-underline-offset: 3px;
    }

    .navbar img {
        height: 25px;
    }
}











@media (max-width: 412px) {
    .navbar {
        flex-direction: row;
        align-items: center;
      
    }

    .navbar ul {
        flex-direction: row;
   
        align-items: center;
        gap: 10px;
    }

    .navbar ul li a {
        font-size: 7px;
    }

    .navbar ul {
        gap: 7px;
    }

    .navbar img {
        height: 15px;
    }
}