<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <img src="../img/recicle_logo.png" alt="logo" />
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color:#FBFF7E;">METAL</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Você sabia que a latinha de refrigerante que você recicla hoje pode virar parte de uma bicicleta ou até
                de um avião amanhã? O <span style="color: #FBFF7E; font-weight: bold;">metal</span> é um "supermaterial"
                que não perde a qualidade, não importa quantas vezes
                seja reciclado.
            </p>
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color:#FBFF7E;">O QUE VAI NA LIXEIRA AMARELA?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Nesta lixeira, depositamos metais ferrosos (que grudam em ímãs) e não ferrosos (como o alumínio).
                Importante: eles precisam estar limpos.</p>

            <span style="color: #FBFF7E; font-weight: bold;">Latinhas:</span> De refrigerante, suco e cerveja
            (alumínio).</p>

            <span style="color: #FBFF7E; font-weight: bold;">Embalagens de Alimentos:</span> Latas de conserva (milho,
            ervilha), sardinha, leite em pó.</p>

            <span style="color: #FBFF7E; font-weight: bold;">Outros:</span> Tampinhas de garrafa, pregos, parafusos,
            panelas velhas (sem cabo de plástico).
            </p>
        </div>

        <div class="image">
            <img src="../img/img_metal/metalnalixeira.png" alt="pessoa colocando metal na lixeira" style="border-color: #FBFF7E;">
        </div>



        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color:#FBFF7E;">POR QUE RECICLAR O METAL?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #FBFF7E; font-weight: bold;">Reciclagem Infinita:</span> O metal pode ser derretido
                e reutilizado para sempre, sem nunca perder suas
                propriedades. É um ciclo perfeito.
            </p>

            <span style="color: #FBFF7E; font-weight: bold;">Economia Gigante de Energia:</span> Produzir alumínio novo
            consome uma quantidade absurda de energia. Reciclar
            alumínio economiza até 95% dessa energia.</p>

            <span style="color: #FBFF7E; font-weight: bold;">Preservação da Natureza:</span> Evita a extração de
            minérios (como a bauxita e o ferro) do solo, diminuindo a
            poluição e a destruição de paisagens.
            </p>
        </div>



        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color:#FBFF7E;">DE VOLTA À AÇÃO</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                O metal da lixeira amarela segue para a fábrica, onde é separado, amassado em grandes blocos e depois
                derretido em fornos de altíssima temperatura. Esse metal líquido vira novas chapas e barras, prontas
                para serem transformadas em:</p>

                <span style="color: #FBFF7E; font-weight: bold;">Novas latinhas</span>.</p>

                <span style="color: #FBFF7E; font-weight: bold;">Peças de carros, motos e bicicletas.</span></p>

                <span style="color: #FBFF7E; font-weight: bold;">Materiais de construção.</span></p>
            </p>
        </div>

        <div class="image">
            <img src="../img/img_metal/ciclodometal.png" alt="ciclo do metal" style="border-color: #FBFF7E;">
        </div>

    </div>




</body>

</html>