<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <a href="../index.html" style="cursor: pointer; margin: 0; display: flex; align-items: center;">
            <img src="../img/recicle_logo.png" alt="logo" style="display: block; max-height: 100%;">
        </a>
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color:#363636; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(194, 194, 194);">NÃO RECICLÁVEL</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Por mais que a gente tente reciclar tudo, existem alguns materiais que ainda não podem ser
                reaproveitados pelas indústrias, seja porque a tecnologia atual não permite ou porque o processo é muito
                difícil. Para esses materiais, o destino correto é a lixeira cinza, que armazena os resíduos gerais <span style="color: #363636; font-weight: bold; background-color: rgb(194, 194, 194); padding: 0.1vw;">não reciclaveis.</span>
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color:#363636; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(194, 194, 194);">O QUE VAI NA LIXEIRA CINZA?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Aqui colocamos os materiais que não se encaixam em nenhuma das outras lixeiras coloridas e que não podem
                ser reciclados.</p>

                <span style="color: #363636; font-weight: bold; background-color: rgb(194, 194, 194); padding: 0.1vw;">Papéis não recicláveis:</span> Papel de recibo de cartão (papel térmico), papel carbono, fotografias, fitas
                adesivas e etiquetas autocolantes.</p>

                <span style="color: #363636; font-weight: bold; background-color: rgb(194, 194, 194); padding: 0.1vw;">Plásticos e vidros especiais:</span> Espelhos quebrados, cerâmicas, porcelanas, cristais e tubos de pasta de
                dente vazios (que misturam plástico e alumínio).</p>

                <span style="color: #363636; font-weight: bold; background-color: rgb(194, 194, 194); padding: 0.1vw;">Itens de higiene e limpeza:</span> Esponjas de cozinha usadas, palha de aço, fraldas descartáveis e lenços
                umedecidos.</p>

               <span style="color: #363636; font-weight: bold; background-color: rgb(194, 194, 194); padding: 0.1vw;">Materiais muito sujos:</span> Guardanapos e papéis toalha cheios de gordura ou restos de comida (se estiverem
                limpos, vão para a lixeira azul ou marrom!).
            </p>
        </div>


        <div class="image">
                <img src="../img/img_naorec/naorecnalixeira.png" alt="Pessoa colocando madeira na lixeira" style="border-color: rgb(194, 194, 194);">
        </div>



        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color:#363636; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(194, 194, 194);">PARA ONDE VAI ESTE MATERIAL?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Como o conteúdo da lixeira cinza não pode ser transformado em novos produtos, ele é <span style="color: #363636; font-weight: bold; background-color: rgb(194, 194, 194); padding: 0.1vw;">coletado e levadopara os aterros sanitários.</span></p>

                Os aterros são locais preparados para receber o lixo de forma segura, com o solo protegido por camadas
                de plástico e argila para evitar que os resíduos poluam a terra ou a água subterrânea.
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color:#363636; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(194, 194, 194);">OBJETIVO: REDUÇÃO</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                O objetivo de conhecer todas as lixeiras de reciclagem é fazer com que a lixeira cinza seja sempre a
                <span style="color: #363636; font-weight: bold; background-color: rgb(194, 194, 194); padding: 0.1vw;">menos cheia da casa</span> ou da escola.</p>

                Quando consumimos de forma consciente — escolhendo embalagens que podem ser recicladas (como alumínio e
                papel) e evitando produtos descartáveis —, <span style="color: #363636; font-weight: bold; background-color: rgb(194, 194, 194); padding: 0.1vw;">diminuímos a quantidade</span> de lixo que vai parar nos aterros,
                ajudando o planeta a respirar melhor.
            </p>
        </div>

        <div class="image">
            <img src="../img/img_naorec/ciclodonaorec.png" alt="ciclo da madeira" style="border-color: rgb(194, 194, 194);">
        </div>


        <div style="text-align: center; margin-bottom: 20px;">
            <a href="https://www.viralata.org.br/home/" target="_blank" rel="noopener noreferrer">
                <button class="botao">
                    APOIE A RECICLAGEM
                </button>
            </a>

        </div>

    </div>




</body>

</html>