<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <a href="../index.html" style="cursor: pointer; margin: 0; display: flex; align-items: center;">
            <img src="../img/recicle_logo.png" alt="logo" style="display: block; max-height: 100%;">
        </a>
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #D29A23;">ORGÂNICO</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Você sabia que a natureza tem o seu próprio sistema de reciclagem? O <span style="color: #D29A23; font-weight: bold;">lixo orgânico</span> é tudo aquilo que tem
                origem biológica (plantas ou animais). Em vez de ir para um aterro sanitário e gerar gases poluentes,
                esse material pode voltar para a terra e dar vida a novas plantas.
            </p>
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #D29A23;">O QUE VAI NA LIXEIRA MARROM?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                A regra aqui é pensar: "Isso veio da terra e apodrece rápido?". Se sim, é orgânico.</p>

                <span style="color: #D29A23; font-weight: bold;">Sim (Orgânicos ideais):</span> Cascas de frutas e legumes, restos de verduras, borra de café, saquinhos de chá,
                cascas de ovo, folhas secas e galhos pequenos.</p>

                <span style="color: #D29A23; font-weight: bold;">Atenção:</span> Restos de carne, ossos e laticínios até são orgânicos, mas muitas vezes não são colocados em
                composteiras caseiras ou escolares porque atraem animais e geram mau cheiro. Siga sempre a regra do
                local de coleta!
            </p>
        </div>

        <div class="image">
            <img src="../img/img_organico/organiconalixeira.png" alt="pessoa colocando organico na lixeira" style="border-color: #D29A23;">
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #D29A23;">POR QUE SEPARAR O ORGÂNICO?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #D29A23; font-weight: bold;">Evita o Gás Metano:</span> Quando o lixo orgânico apodrece misturado com plásticos em um lixão, ele gera
                metano, um gás que aquece o planeta muito mais rápido que o CO2.</p>

                <span style="color: #D29A23; font-weight: bold;">Reduz o Lixo:</span> Cerca de metade do lixo que produzimos em casa é orgânico. Separar isso diminui
                drasticamente o volume de lixo nas cidades.</p>

                <span style="color: #D29A23; font-weight: bold;">Cria Vida Nova:</span> O lixo orgânico pode ser transformado no melhor "superalimento" para as plantas.
            </p>
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #D29A23;">A COMPOSTAGEM</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                O orgânico não vai para uma fábrica cheia de máquinas. Ele vai para um <span style="color: #D29A23; font-weight: bold;">pátio de compostagem.</span> Lá, o
                processo é feito por "trabalhadores" muito especiais: <span style="color: #D29A23; font-weight: bold;">minhocas, fungos e bactérias</span> invisíveis a olho nu.</p>

                Eles se alimentam dos restos de comida e, depois de algumas semanas, transformam tudo aquilo em <span style="color: #D29A23; font-weight: bold;">adubo</span>
                (uma terra escura e muito rica em nutrientes). Esse adubo é usado em hortas, parques e plantações para
                <span style="color: #D29A23; font-weight: bold;">cultivar</span> alimentos novos e saudáveis. É um ciclo perfeito!
            </p>
        </div>

        <div class="image">
            <img src="../img/img_organico/ciclodoorganico.png" alt="ciclo do organico" style="border-color: #D29A23;">
        </div>

        <div style="text-align: center; margin-bottom: 20px;">
            <a href="https://www.viralata.org.br/home/" target="_blank" rel="noopener noreferrer">
                <button class="botao">
                    APOIE A RECICLAGEM
                </button>
            </a>

        </div>

    </div>




</body>

</html>