<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <a href="../index.html" style="cursor: pointer; margin: 0; display: flex; align-items: center;">
            <img src="../img/recicle_logo.png" alt="logo" style="display: block; max-height: 100%;">
        </a>
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #42A4FF;">PAPEL</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>O <span style="color: #42A4FF; font-weight: bold;">papel</span> está em toda parte: nos livros da escola, nas caixas de entregas e até no papel higiênico. Quando
                reciclamos papel, damos uma segunda chance para essas fibras e, mais importante, protegemos as
                florestas.
            </p>
        </div>





        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #42A4FF;">O QUE COLOCAR NA LIXERIA AZUL?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>A regra de ouro é: o papel precisa estar limpo e seco. Papel sujo ou molhado atrapalha todo o processo.
            </p>

            <span style="color: #42A4FF; font-weight: bold;">Sim (Reciclável):</span> Caixas de papelão (desmontadas), cadernos (sem espiral!), jornais, revistas, folhas de
            sulfite, impressos, envelopes.</p>

            <span style="color: #42A4FF; font-weight: bold;">Não (Não Reciclável aqui):</span> Papel higiênico usado, fraldas, papel sujo de gordura (como caixa de pizza),
            papel metalizado (embalagem de salgadinho) ou plastificado.
            </p>
        </div>

        <div class="image">
            <img src="../img/img_papel/papelnalixeira.png" alt="pessoa colocando papel na lixeira" style="border-color: #42A4FF;">
        </div>






        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #42A4FF;">POR QUE RECICLAR O PAPEL?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #42A4FF; font-weight: bold;">Protege as Árvores</span>: A maior parte do papel vem da madeira. Reciclar reduz drasticamente a necessidade de
                derrubar novas árvores para produzir celulose.</p>

                <span style="color: #42A4FF; font-weight: bold;">Economia de Recursos:</span> O processo de reciclar papel consome muito menos água e energia do que fabricar
                papel novo do zero.
            </p>
        </div>





        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #42A4FF;">DE VOLTA AO CICLO</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>O papel que você colocou na lixeira azul vai para uma indústria onde é triturado e misturado com água,
                transformando-se em uma pasta de fibra (polpa). Após ser limpa, essa pasta vira novas folhas, que podem
                ser usadas para fazer:</p>

                <span style="color: #42A4FF; font-weight: bold;">Novos cadernos e livros.</span></p>

                <span style="color: #42A4FF; font-weight: bold;">Papel higiênico e guardanapos.</span></p>

                <span style="color: #42A4FF; font-weight: bold;">Caixas de papelão ondulado.</span></p>
            </p>
        </div>

        <div class="image">
            <img src="../img/img_papel/ciclodopapel.png" alt="ciclo do papel" style="border-color: #42A4FF;">
        </div>

        <div style="text-align: center; margin-bottom: 20px;">
            <a href="https://www.viralata.org.br/home/" target="_blank" rel="noopener noreferrer">
                <button class="botao">
                    APOIE A RECICLAGEM
                </button>
            </a>

        </div>

    </div>




</body>

</html>