<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <img src="../img/recicle_logo.png" alt="logo" />
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FF9602;">PILHAS E BATERIAS</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #FF9602; font-weight: bold;">Pilhas e baterias</span> são fundamentais para fazer funcionar nossos controles remotos, brinquedos,
                video-games portáteis e celulares. Mas, quando a energia delas acaba, não podemos simplesmente jogá-las
                no lixo comum. Elas precisam de um "ponto final" muito específico.
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FF9602;">O QUE VAI NA LIXEIRA LARANJA?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #FF9602; font-weight: bold;">Sim (Especial):</span> Pilhas alcalinas (as comuns AA e AAA), pilhas recarregáveis, baterias de celular e
                notebooks, baterias de "botão" (aquelas redondinhas de relógio).</p>

                <span style="color: #FF9602; font-weight: bold;">Atenção:</span> Se possível, cubra os polos (os ladinhos + e -) com fita adesiva antes de descartar, para
                evitar qualquer faísca acidental. E nunca tente abrir ou desmontar uma pilha.
            </p>
        </div>

        <div class="image">
            <img src="../img/img_pilhas/pilhanalixeira.png" alt="pessoa colocando pilha na lixeira"
                style="border-color: #FF9602;">
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FF9602;">POR QUE NÃO VÃO PARA O LIXO COMUM?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #FF9602; font-weight: bold;">Proteção Contra Contaminação:</span> Pilhas e baterias contêm metais pesados (como mercúrio, chumbo e cádmio)
                dentro delas. Se elas quebram no lixo comum ou em aterros sanitários, esses metais podem vazar e
                contaminar o solo e a água, o que é muito perigoso para as plantas, animais e para nós.</p>

                <span style="color: #FF9602; font-weight: bold;">Risco de Incêndio:</span> Baterias danificadas ou que sofrem curto-circuito podem superaquecer e até causar
                incêndios em caminhões de lixo ou centrais de triagem.
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FF9602;">LOGÍSTICA REVERSA</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Quando você coloca suas pilhas e baterias no coletor laranja (ou nos pontos de coleta em lojas e
                supermercados), elas seguem para uma fábrica especializada. Lá, elas são processadas de forma segura:</p>

                <span style="color: #FF9602; font-weight: bold;">Moagem:</span> São moídas em ambiente controlado.</p>

                <span style="color: #FF9602; font-weight: bold;">Separação:</span> Os componentes são separados por peso e tipo de metal.</p>

                <span style="color: #FF9602; font-weight: bold;">Recuperação:</span> Os metais valiosos são recuperados e refinados para virarem matéria-prima novamente (para
                novas pilhas, cerâmicas ou tintas), enquanto os resíduos perigosos são isolados e descartados de forma
                segura, protegendo o meio ambiente
            </p>
        </div>

        <div class="image">
            <img src="../img/img_pilhas/ciclodapilha.png" alt="ciclo da pilha" style="border-color: #FF9602;">
        </div>

    </div>




</body>

</html>