<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <img src="../img/recicle_logo.png" alt="logo" />
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FF6262" ;">PLÁSTICO</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>O <span style="color: #FF6262; font-weight: bold;">plástico</span> está em toda parte: na garrafa de suco, na embalagem do lanche, nos brinquedos e até em partes
                do seu computador. Ele é super útil, mas quando descartado errado, vira um problemão para a natureza.
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FF6262;">O QUE VAI NA LIXEIRA VERMELHA?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>

        <div class="text">

            <p>A regra é simples: se é plástico e está limpo, é aqui que ele deve ser jogado.</p>

            <span style="color: #FF6262; font-weight: bold;">Garrafas de água, refrigerante e suco</span> (as famosas
            PET).</p>

            <span style="color: #FF6262; font-weight: bold;">Potes de alimentos</span> (margarina, iogurte, sorvete).
            </p>

            <span style="color: #FF6262; font-weight: bold;">Embalagens de produtos de limpeza e higiene</span>
            (shampoo, detergente).</p>

            <span style="color: #FF6262; font-weight: bold;">Sacolas plásticas limpas.</span></p>

            <span style="color: #FF6262; font-weight: bold;">Brinquedos de plástico quebrados</span> (sem partes
            eletrônicas).</p>
            </p>
        </div>


        <div class="image">
            <img src="../img/img_plastico/plasticonalixeira.png" alt="pessoa jogando plastico na lixeira vermelha"
                style="border-color: #FF6262;">
        </div>



        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FF6262;">POR QUE RECICLAR PLÁSTICO É IMPORTANTE?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>

        <div class="text">

            <p>
                <span style="color: #FF6262; font-weight: bold;">Evita a Poluição:</span> O plástico demora centenas de
                anos para sumir na natureza. Reciclando, impedimos que
                ele vá parar nos oceanos e rios, protegendo os animais marinhos.

            </p>

            <span style="color: #FF6262; font-weight: bold;">Economiza Petróleo:</span> A maioria dos plásticos é feita
            de petróleo, um recurso que vai acabar um dia.
            Reciclar reduz a necessidade de extrair mais petróleo.

            </p>

            <span style="color: #FF6262; font-weight: bold;">Criação de Empregos:</span> O processo de coleta, triagem e
            reciclagem gera trabalho para muitas pessoas nas
            cooperativas
            </p>
        </div>



        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FF6262;">E DEPOIS?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>

        <div class="text">

            <p>O plástico que você separou viaja para uma fábrica onde é lavado, triturado e derretido. Ele vira
                pequenos grãos (pellets) que servem de matéria-prima para criar coisas novas, como:</p>

                <span style="color: #FF6262; font-weight: bold;">Tecido para camisetas e mochilas.</span>

                </p>

                <span style="color: #FF6262; font-weight: bold;">Tubos para construção.</span>

                </p>

                <span style="color: #FF6262; font-weight: bold;">Novas embalagens.</span>

                </p>

                <span style="color: #FF6262; font-weight: bold;">Mobiliário urbano</span> (bancos de praça).


            </p>
        </div>

        <div class="image">
            <img src="../img/img_plastico/ciclodoplastico.png" alt="ciclo do plastico" style="border-color: #FF6262;">
        </div>



    </div>




</body>

</html>