<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <img src="/img/recicle_logo.png" alt="logo" />
        <nav>
            <ul>
                <li><a href="/templates/index.html">O QUE É?</a></li>
                <li><a href="#">TIPOS</a></li>
                <li><a href="/templates/quiz.html">QUIZ</a></li>
                <li><a href="#">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>