<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <a href="../index.html" style="cursor: pointer; margin: 0; display: flex; align-items: center;">
            <img src="../img/recicle_logo.png" alt="logo" style="display: block; max-height: 100%;">
        </a>
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #F757FF;">RADIOATIVO</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Você já viu o símbolo de <span style="color: #F757FF; font-weight: bold;">perigo radioativo</span> em filmes de ficção científica ou videogames? No mundo real,
                a lixeira roxa é usada para descartar materiais que emitem radiação. Mas pode ficar tranquilo: você não
                vai tropeçar em uma dessas na calçada da sua rua!
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #F757FF;">O QUE VAI NA LIXEIRA ROXA?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Ninguém produz lixo radioativo em casa. Essa lixeira existe apenas em lugares altamente controlados:</p>

                <span style="color: #F757FF; font-weight: bold;">Hospitais e clínicas</span> (materiais usados em exames de raio-X e tratamentos de radioterapia contra o
                câncer).</p>

                <span style="color: #F757FF; font-weight: bold;">Laboratórios</span> de pesquisa científica.</p>

                <span style="color: #F757FF; font-weight: bold;">Usinas nucleares</span> que geram energia elétrica.</p>

                <span style="color: #F757FF; font-weight: bold;">Roupas de proteção, luvas e seringas</span> usadas por cientistas e médicos que lidam com radiação são
                descartadas aqui.
            </p>
        </div>


        <div class="image">
            <img src="../img/img_radioativo/radioativonalixeira.png" alt="cientista colocando radioativo na lixeira"style="border-color: #F757FF;">
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #F757FF;">POR QUE É TÃO PERIGOSO?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #F757FF; font-weight: bold;">A radiação é uma energia invisível.</span> Em doses altas, ela pode alterar e destruir as células dos seres
                vivos, causando doenças graves. É por isso que apenas profissionais altamente treinados, usando roupas
                especiais de proteção (parecidas com trajes espaciais!), podem chegar perto desse material.
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #F757FF;">DESCARTE</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                O <span style="color: #F757FF; font-weight: bold;">lixo radioativo</span> não vira um produto novo. O objetivo aqui é proteger e isolar.</p>

                O material que vai para a lixeira roxa é colocado em <span style="color: #F757FF; font-weight: bold;">recipientes super-resistentes</span>, muitas vezes
                forrados com chumbo e concreto grosso, que bloqueiam a radiação. Depois, esses "cofres" são guardados em
                <span style="color: #F757FF; font-weight: bold;">depósitos subterrâneos</span> super seguros e monitorados por dezenas ou até centenas de anos, até que a
                radiação <span style="color: #F757FF; font-weight: bold;">desapareça naturalmente</span> e não faça mais mal a ninguém.
            </p>
        </div>

        <div class="image">
            <img src="../img/img_radioativo/ciclodoradioativo.png" alt="ciclo do organico" style="border-color: #F757FF;">
        </div>

        <div style="text-align: center; margin-bottom: 20px;">
            <a href="https://www.viralata.org.br/home/" target="_blank" rel="noopener noreferrer">
                <button class="botao">
                    APOIE A RECICLAGEM
                </button>
            </a>

        </div>

    </div>




</body>

</html>