<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <a href="../index.html" style="cursor: pointer; margin: 0; display: flex; align-items: center;">
            <img src="../img/recicle_logo.png" alt="logo" style="display: block; max-height: 100%;">
        </a>
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FFFFFF; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(141, 141, 141);">SAÚDE</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>Em hospitais, farmácias, postos de saúde e consultórios dentários, você vai encontrar uma lixeira bem
                diferente: a lixeira branca. Ela serve para descartar materiais que tiveram contato com medicamentos,
                sangue ou biologia humana. Aqui, a regra número um é a proteção.
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FFFFFF; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(141, 141, 141);">O QUE VAI NA LIXEIRA BRANCA?</h1>      
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Essa lixeira é exclusiva para ambientes médicos e profissionais de saúde. Nela são descartados:</p>

                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">Curativos, faixas, gazes e luvas usadas em procedimentos.</span></p>

                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">Seringas, agulhas e ampolas de remédios</span> (descartadas em caixas amarelas rígidas antes de irem para o
                saco branco).</p>

                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">Restos de medicamentos e materiais usados em exames.</span>
            </p>
        </div>



        <div class="image">
            <img src="../img/img_saude/saudenalixeira.png" alt="médico colocando residuos hospitalares na lixeira" style="border-color: #FFFFFF;">
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FFFFFF; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(141, 141, 141);">E EM CASA?</h1> 
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>

       


        <div class="text">

            <p>
                Nós não temos uma lixeira branca em casa, mas também produzimos resíduos de saúde, como pomadas antigas
                e remédios vencidos.</p>

                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">O que fazer?</span> Nunca jogue remédios no lixo comum e jamais engula ou jogue no vaso sanitário/pia. O
                correto é levar os remédios vencidos (com caixa e tudo) até uma farmácia ou posto de saúde que tenha um
                coletor especial para descarte correto.
            </p>
        </div>

        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FFFFFF; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(141, 141, 141);">POR QUE É TÃO IMPORTANTE?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">Evita Acidentes:</span> Agulhas e objetos cortantes jogados no lixo comum podem machucar gravemente os
                coletores de lixo.</p>

                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">Previne Doenças:</span> Materiais hospitalares podem conter vírus ou bactérias. O descarte correto impede que
                esses microrganismos se espalhem.</p>

                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">Protege a Água:</span> Quando remédios são jogados na pia ou no vaso, os componentes químicos passam pelo
                esgoto e poluem os rios, afetando os peixes e a qualidade da nossa água.
            </p>
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #FFFFFF; -webkit-text-stroke-width: 0.1vw; -webkit-text-stroke-color: rgb(141, 141, 141);">COMO É TRATADO?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                O lixo da lixeira branca não pode virar brinquedo, plástico ou papel novo por motivos óbvios de saúde.
                Ele passa por um processo de desinfecção:</p>

                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">Autoclavagem:</span> Os materiais são colocados em uma máquina gigante que usa vapor sob altíssima pressão e
                calor para destruir todos os vírus e bactérias.</p>

                <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">Incineração:</span> Alguns materiais específicos são queimados em fornos especiais de alta tecnologia que
                destroem os resíduos de forma segura.</p>

                Depois de totalmente limpos e seguros, os restos vão para <span style="color: #FFFFFF; font-weight: bold; text-decoration: underline 0.1vw rgb(141, 141, 141); text-underline-offset: 0.5vw; ">aterros sanitários</span> preparados para receber
                esse tipo de material.
            </p>
        </div>

        <div class="image">
            <img src="../img/img_saude/ciclodasaude.png" alt="ciclo da saude" style="border-color: #FFFFFF;">
        </div>

        <div style="text-align: center; margin-bottom: 20px;">
            <a href="https://www.viralata.org.br/home/" target="_blank" rel="noopener noreferrer">
                <button class="botao">
                    APOIE A RECICLAGEM
                </button>
            </a>

        </div>

    </div>




</body>

</html>