<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <img src="../img/recicle_logo.png" alt="logo" />
        <nav>
            <ul>
                <li><a href="../index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="quiz.html">QUIZ</a></li>
                <li><a href="jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #AFFF69;">VIDRO</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                O <span style="color: #AFFF69; font-weight: bold;">vidro</span> é um dos materiais mais antigos e úteis que utilizamos. A grande vantagem dele para o meio
                ambiente é que ele nunca envelhece: uma garrafa de vidro pode ser derretida e transformada em uma nova
                garrafa perfeitamente limpa e segura, sem perder nenhuma qualidade.
            </p>
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #AFFF69;">O QUE VAI NA LIXEIRA VERDE?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Aqui, o foco são as embalagens do dia a dia. É importante que elas estejam vazias e, se possível,
                enxaguadas.</p>

                <span style="color: #AFFF69; font-weight: bold;">Sim (Reciclável):</span> Garrafas de suco, refrigerante e água; potes de alimentos (geleia, azeitona, molhos);
                frascos de perfume e cosméticos; cacos de vidro (embalados em jornal para ninguém se machucar).</p>

                <span style="color: #AFFF69; font-weight: bold;">Não (Não jogue aqui):</span> Espelhos, lâmpadas, óculos, cerâmica, porcelana, refratários (tipo Pirex) e vidros
                de janelas ou carros. Esses materiais têm composições químicas diferentes e exigem um descarte especial.
            </p>
        </div>


        <div class="image">
            <img src="../img/img_vidro/vidronalixeira.png" alt="pessoa colocando vidro na lixeira" style="border-color: #AFFF69;">
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #AFFF69;">POR QUE RECICLAR O VIDRO?</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                <span style="color: #AFFF69; font-weight: bold;">Zero Desperdício:</span> 1 quilo de cacos de vidro gera exatamente 1 quilo de vidro novo. Nada se perde no
                processo.</p>

                <span style="color: #AFFF69; font-weight: bold;">Proteção de Recursos:</span> O vidro é feito principalmente de areia. Reciclar significa que precisamos extrair
                menos areia e minerais da natureza.</p>

                <span style="color: #AFFF69; font-weight: bold;">Menos Poluição:</span> Derreter vidro reciclado consome menos energia e emite menos gases poluentes do que
                fabricar vidro do zero. Além disso, o vidro na natureza leva milhares de anos para se decompor.
            </p>
        </div>


        <div class="title">
            <img src="../img/recycle-sign.png" alt="recicle">
            <h1 style="color: #AFFF69;">DO CACO À NOVA GARRAFA</h1>
            <img src="../img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>
                Quando o caminhão recolhe o vidro da lixeira verde, ele vai para a indústria, onde é separado por cores
                (transparente, verde, âmbar). Depois, ele é quebrado em pedaços pequenos, lavado e levado a um forno
                gigante, derretendo a mais de 1.000 graus Celsius! Esse líquido incandescente é então moldado para
                virar:</p>

                <span style="color: #AFFF69; font-weight: bold;">Novas garrafas e potes para alimentos.</span></p>

                <span style="color: #AFFF69; font-weight: bold;">Fibras de vidro.</span></p>

                <span style="color: #AFFF69; font-weight: bold;">Materiais de isolamento e construção civil.</span>
            </p>
        </div>

        <div class="image">
            <img src="../img/img_vidro/ciclodovidro.png" alt="ciclo do vidro" style="border-color: #AFFF69;">
        </div>

    </div>




</body>

</html>